html {
    background: inline-image('exclusive_paper.png');
}

.inner {
    background: rgba($lighter-green, 0.25);
    .no-rgba {
        background: $lighter-green;
    }
    border: 1px solid darken($lighter-green, 5);
}

.story  {
    a {
        color: $body-copy-color;

        &:hover {
            color: darken($body-copy-color, 15);
        }
    }
}
