.l-container {
    @extend %container;
}

.site-info,
.main-nav,
.content,
aside {
    @extend %inner-container;
}

.content {
    padding-top: #{calc-gutter(2)}rem;
}

.full-width {
    @include breakpoint(45em) {
        .content {
            padding: 2em;
        }
    }
    @include breakpoint(55em) {
        .content {
            padding: 4em;
        }
    }
    @include breakpoint(65em) {
        @include container(3);
    }
    @include breakpoint(85em) {
        @include container(5);
    }
}

.content-first {
    main,
    aside {
        margin-bottom: #{2*calc-gutter()}rem;
    }
    @include breakpoint(45em) {
        main {
            width: calc-span(5, 8);
            float: left;
        }
        aside {
            width: calc-span(3, 8);
            float: left;
        }
    }
}
