.eta {
    @include modular-scale($eta, $font-base, '#{$type-scale-unit-value}', $measure);
}

.theta {
    @include modular-scale($theta, $font-base, '#{$type-scale-unit-value}', $measure);
}


// Ornamented
h1 {
    @include ornamented('H');
}

//Ornamented
h2 {
    @include ornamented('f');
}

//Cross-head
#{headers(3)} {
    text-align: center;
}

//Uppercase, higher letter spacing
#{headers()} {
    @include smallcaps($heading-color, $bold);
    letter-spacing: 2px;

    .amp {
        font-family: $font-family;
    }
}

//Indented Sidehead
h4,
h5 {
    text-indent: $indent-val;
}

h5 {
    font-style: italic;
}

//Run-in sidehead
h6 {
    color: $body-copy-color;
    font-size: inherit;
    float: left;
    margin-right: 0.5em;
    line-height: inherit;
    margin-bottom: 0;

    & + p {
        @include clearfix;
        + p {
            text-indent: 0;
        }
    }
}

//First paragraph Ornamented
#{headers(5)} {
    + p {
        @include ornamented('N', 'before');
    }
}


// Overriding typeplate
p {
    & + p {
        margin-top: -1.1em; //leaves a margin of about 0.4em
    }
}
// WP-typography
.amp {
    font-weight: $normal;
    font-style: italic;
}

.caps {
    @include smallcaps($body-copy-color, inherit);
}

// Not really useful,since theonly thing thatcould be of interest is titling
// caps, and those are only in titles
.numbers {

}


//Initial single quote
.quo {
    //margin-left:-.2em;
}

// Initial double quote
.dquo {
    //margin-left:-.40em;
}

.table-of-content {
    ol {
      counter-reset: section;
      list-style-type: none;

        li {
            counter-increment: section;

            &:before  {
                content: counters(section, ".") ". ";
            }
        }
    }

}

a {
    color: $body-copy-color;

    &:hover {
        color: darken($body-copy-color, 15);
    }
}
