@charset "UTF-8";

@import "vendor/normalize";
@import "variables";

//Gems from Ruby
@import "compass";
@import "breakpoint";

@import "vendor/fonts";
@import "vendor/icons";

@import "mixins";

@import "layout";
@import "typeplate/scss/typeplate";
@import "vendor/fancybox";

// Overriding smallcaps mixing from typeplate
@mixin smallcaps($color, $font-weight) {
    // depends on the font family.
    // some font-families don't support small caps
    // or don't provide them with their web font.
    text-transform: lowercase;
    font-family: 'Calendas Plus SC';
}

// $B a s e  T y p e, overridden
// --------------------------------------------------------------------------

$my-font-family: 'Calendas Plus', Georgia, serif !default;
$my-alternate-font-family: Georgia, serif;
$font-family-sans: Verdana, sans-serif !default;
$font-family-monospace: 'Source Code Pro', monospace !default;
$font-properties: $font-weight, $line-height, $font-size, $my-font-family;

@import "typography";

@import "design";
@import "vendor/wordpress";

// Components
@import "components/gallery";
@import "components/widgets";
@import "components/navigation";
@import "components/forms";
@import "components/code";
@import "components/markdown";

@import "posts";


html {
    @include base-type($font-properties...);

    @include breakpoint(24em) {
        font-size: 100%;
    }

    @include breakpoint(40em) {
        font-size: (18/16)*100%;
    }
    @include breakpoint(117em) {
        font-size: (20/16)*100%;
    }

    * {
        @include box-sizing(border-box);
    }
    text-shadow: rgba(255, 255, 255, 0.75) 0 1px 0;

}

img {
    height: auto;
    width: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
}

.featured-image {
    @extend .alignleft;

    img {
        @extend %polaroid;
    }
}

%list-reset {
    margin-top: 0;
    padding-left: 0;
    list-style: none;
}

.header-contact {
    @extend %list-reset;
    margin-bottom: 0;
    @extend .epsilon;
    @include breakpoint(24em) {
        @include type-scale($gamma, $font-base, '#{$type-scale-unit-value}', $measure);
    }
    text-align: center;
    a {
        text-decoration: none;
    }
    li {
        display: inline-block;
        margin-right: 0.5em;

        &.brand {
            display: block;
        }
    }
}

.site-title {
    max-height: 100px;
    @include breakpoint(24em) {
        max-height: 200px;
    }
}

.brand {
    a {
        @include opacity(0.8);
        @include single-transition(opacity, 0.5s, ease-in-out, 0);

        &:hover {
            @include opacity(9);
        }
    }
}
