@charset "UTF-8";

@import "normalize";
@import "variables";

//Gems from Ruby
@import "compass";
@import "breakpoint";


@import "vendor/fonts";
@import "vendor/icons";

@import "mixins";

@import "layout";
@import "typeplate/scss/typeplate";
@import "vendor/fancybox";

// Overriding smallcaps mixing from typeplate
@mixin smallcaps($color, $font-weight) {
    // depends on the font family.
    // some font-families don't support small caps
    // or don't provide them with their web font.
    text-transform: lowercase;
    font-family: 'Calendas Plus SC';
}

@import "typography";

@import "design";

// Components
@import "components/gallery";

html {
    font-size: (14/16)*100%;
    line-height: 1.5;

    @include breakpoint(24em) {
        font-size: 100%;
    }

    @include breakpoint(40em) {
        font-size: (18/16)*100%;
    }
    @include breakpoint(117em) {
        font-size: (20/16)*100%;
    }

    padding-top: #{calc-gutter()}em;

    * {
        @include box-sizing(border-box);
    }

}

img {
    height: auto;
    width: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
}
