@charset "UTF-8";

@import "normalize";
@import "variables";

//Gems from Ruby
@import "compass";
@import "breakpoint";

@font-face {
    font-family: "Calendas Plus";
    src: url(styles/fonts/Calendas_Plus.otf) format("opentype");
}

@font-face {
    font-family: 'PrintersOrnaments';
    src: url('styles/fonts/Ornaments/PrintersOrnamentsOne.eot');
    src: url('styles/fonts/Ornaments/PrintersOrnamentsOne.eot?#iefix') format('embedded-opentype'),
         url('styles/fonts/Ornaments/PrintersOrnamentsOne.woff') format('woff'),
         url('styles/fonts/Ornaments/PrintersOrnamentsOne.ttf') format('truetype'),
         url('styles/fonts/Ornaments/PrintersOrnamentsOne.svg#PrintersOrnamentsOneRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.test {
    font-family: PrintersOrnaments;
}
@import "mixins";

@import "layout";
@import "typeplate/scss/typeplate";

@import "typography";

@import "design";

html {
    font-size: (14/16)*100%;
    line-height: 1.5;

    @include breakpoint(24em) {
        font-size: 100%;
    }

    @include breakpoint(40em) {
        font-size: (18/16)*100%;
    }
    @include breakpoint(117em) {
        font-size: (20/16)*100%;
    }

    padding-top: #{calc-gutter()}em;

    * {
        @include box-sizing(border-box);
    }

}

img {
    max-width: 100%;
}
