language: node_js
node_js:
  - 0.8

before_install:
 - sudo apt-get update -qq
 - sudo apt-get install -qq php5 ruby
 - bundle install
 - curl -sS https://getcomposer.org/installer | php
 - php composer.phar install --dev
 - npm install -g bower
 - bower install
