// Inspired by Bootstrap
.img-rounded {
    @extend %rounded;
}

.img-circle {
    @extend %circle;
}

.img-polaroid {
    @extend %polaroid;

    &.img-circle {
        padding-bottom: 4px;
    }
}

.gallery {
    list-style: none;
    padding: 0;

    li {
        float: left;
        margin-right: #{calc-gutter(1)}rem;
        margin-bottom: #{calc-gutter(1)}rem;
        @extend %polaroid;
        padding: 1em;
    }

}
.wp-caption-text {
    margin-bottom: 0;
    font-style: italic;
    @extend .epsilon;
}
