%reset-ul {
    ul {
        list-style: none;
        padding-left: 0;
    }
}

.widget {

    padding-bottom: #{calc-gutter()}em;
}

.widget-global-activity {
    @extend %reset-ul;
}
// Global activity
.activity-header {
    text-indent: 0;
    margin-bottom: 0;
    text-rendering: auto;

    a {
        margin-left: 5px;
    }
}

.activity-description {
    @extend .zeta;
    font-style: italic;
}

.tagcloud {
    line-height: 1;
}
