---
title: Articles
page: articles
sidebar: true
class: content-first
---

<h1>Articles</h1>
<ul class="entry-list">
    <li>
        <article class="hentry">
            <img class="img-polaroid alignleft" src="http://placehold.it/150x150/0eafff/ffffff.png">
            <h2 class="entry-title"><a href="/article.html" title="Permalink to Title One">Title One</a></h2>
            <div class="entry-meta">Posted <time>2013-05-06</time></div>
            <p class="entry-summary">Here's a summary of the post!</p>
        </article>
    </li>
    <li>
        <article class="hentry">
            <img class="img-polaroid alignright" src="http://placehold.it/150x150/0eafff/ffffff.png">
            <h2 class="entry-title"><a href="/article.html" title="Permalink to Title One">Title One</a></h2>
            <div class="entry-meta">Posted <time>2013-05-06</time></div>
            <p class="entry-summary">Here's a summary of the post!</p>
        </article>
    </li>
</ul>
<hr>
<div class='wp-pagenavi'>
    <span class='pages'>Page 4 of 10</span>
    <a href='#' class='first'>First</a>
    <a href='#' class='previouspostslink'>« Previous</a>
    <span class='extend'>&#8230;</span>
    <a href='#' class='page smaller'>2</a>
    <a href='#' class='page smaller'>3</a>
    <span class='current'>4</span>
    <a href='#' class='page larger'>5</a>
    <a href='#' class='page larger'>6</a>
    <span class='extend'>&#8230;</span>
    <a href='#' class='nextpostslink'>Next »</a>
    <a href='#' class='last'>Last</a>
</div>
