---
title: Gallery
page: gallery
sidebar: false
class: content-media
---

<h1>Images &amp; Gallery</h1>

<h2>Images</h2>
<img alt="" src="http://placehold.it/200x200/0eafff/ffffff.png" class="img-rounded">
<img alt="" src="http://placehold.it/200x200/0eafff/ffffff.png" class="img-circle">
<img alt="" src="http://placehold.it/200x200/0eafff/ffffff.png" class="img-polaroid">
<img alt="" src="http://placehold.it/200x200/0eafff/ffffff.png" class="img-polaroid img-rounded">
<img alt="" src="http://placehold.it/200x200/0eafff/ffffff.png" class="img-polaroid img-circle">

<h2>Linked Images</h2>
<a href="http://placehold.it/600x400/0eafff/ffffff.png" class="thumbnail"><img alt="" src="http://placehold.it/200x200/0eafff/ffffff.png" class="img-rounded"></a>
<a href="http://placehold.it/600x400/0eafff/ffffff.png" class="thumbnail"><img alt="" src="http://placehold.it/200x200/0eafff/ffffff.png" class="img-circle"></a>
<a href="http://placehold.it/600x400/0eafff/ffffff.png" class="thumbnail"><img alt="" src="http://placehold.it/200x200/0eafff/ffffff.png" class="img-polaroid"></a>
<a href="http://placehold.it/600x400/0eafff/ffffff.png" class="thumbnail"><img alt="" src="http://placehold.it/200x200/0eafff/ffffff.png" class="img-polaroid img-rounded"></a>
<a href="http://placehold.it/600x400/0eafff/ffffff.png" class="thumbnail"><img alt="" src="http://placehold.it/200x200/0eafff/ffffff.png" class="img-polaroid img-circle"></a>

<h2>Thumbnails gallery</h2>
<ul class="thumbnails gallery" id="gallery-1">
    <li>
        <a href="http://placehold.it/600x400/0eafff/ffffff.png" class="thumbnail"><img alt="" src="http://placehold.it/200x200/0eafff/ffffff.png" class="img-rounded"></a>
        <p class="wp-caption-text">I has a caption!</p>
    </li>
    <li>
        <a href="http://placehold.it/600x400/0eafff/ffffff.png" class="thumbnail"><img alt="" src="http://placehold.it/200x200/0eafff/ffffff.png" class="img-circle"></a>
        <p class="wp-caption-text">Some text..</p>
    </li>
    <li>
        <a href="http://placehold.it/600x400/0eafff/ffffff.png" class="thumbnail"><img alt="" src="http://placehold.it/200x200/0eafff/ffffff.png"></a>
    </li>
    <li>
        <a href="http://placehold.it/600x400/0eafff/ffffff.png" class="thumbnail"><img alt="" src="http://placehold.it/200x200/0eafff/ffffff.png" class="img-rounded"></a>
    </li>
    <li>
        <a href="http://placehold.it/600x400/0eafff/ffffff.png" class="thumbnail"><img alt="" src="http://placehold.it/200x200/0eafff/ffffff.png" class="img-circle"></a>
    </li>
</ul>
