---
title: Articles
page: article
---

<div class="l-container content-first" role="document">
    <main class="content" role="main">
        <article class="hentry inner">
                <header>
                  <h1 class="entry-title">But Will It Make You Happy?</h1>
                  <div class="entry-summary">
                      How you spend has a greater effect on your happiness than how
                      much you spend, researchers say.
                  </div>
                </header>

                <div class="entry-content">
                  <img class="img-polaroid thumbnail" src="http://placehold.it/400x200/0eafff/ffffff.png">
                    <p>...article text...</p>
                    <p>...article text...</p>

                </div> <!-- //.entry-content -->

                <footer class="entry-footer">
                    <div class="entry-meta">
                      Posted <time class="published" datetime="2012-01-07 11:11:03-0400">
                        01-07-2012
                      </time>
                      <p class="byline author vcard">
                          By <span class="fn"><a rel="author" href="https://plus.google.com/107792424782860612529" class="url">Marie Hogebrandt</a></span>
                      </p>
                    </div>
                </footer>
                <hr>
                <p>For the moment comments are not enabled, but feel free to <a href="http://www.twitter.com/?status=@melindrea82" rel="external">reach out on Twitter</a>.</p>
              </article>
    </main>
    <aside class="sidebar widget-area" role="complementary">
        <div class="inner">
            <h3>Inspiration</h3>
                    <ul class="entry-navigation">
                        <li class="previous-entry"><a href="">Title Previous Entry</a></li>
                        <li class="next-entry"><a href="">Title of Next Entry</a></li>
                        <li class="random-entry"><a href="/random/">Random Entry</a></li>
                    </ul>

                    <h3>Categories</h3>
                    <ul>
                        <li class="cat-item cat-item-3"><a href="/kategori/allmanna-tankar/" title="Se alla inlägg sparade under Allmänna tankar">Allmänna tankar</a>
                        </li>
                        <li class="cat-item cat-item-29"><a href="/kategori/programmering/bugfix/" title="Se alla inlägg sparade under Bugfix">Bugfix</a>
                        </li>
                    </ul>

                    <h3>Tags</h3>
                    <ul>
                        <li class="cat-item cat-item-3"><a href="/kategori/allmanna-tankar/" title="Se alla inlägg sparade under Allmänna tankar">Allmänna tankar</a>
                        </li>
                        <li class="cat-item cat-item-29"><a href="/kategori/programmering/bugfix/" title="Se alla inlägg sparade under Bugfix">Bugfix</a>
                        </li>
                    </ul>

                    <section id="recent-posts-2" class="widget widget_recent_entries">
                        <h3 class="widget-title">Senaste inläggen</h3>
                        <ul>
                            <li>
                            <a href="http://blog.melindrea.net/verktyg-for-att-halla-ett-oga-pa-teckensnittsstod/" title="Verktyg för att hålla ett öga på teckensnittsstöd">Verktyg för att hålla ett öga på teckensnittsstöd</a>
                            </li>
                            <li>
                            <a href="http://blog.melindrea.net/mobilutveckling-vad-ar-bast/" title="Mobilutveckling — vad är bäst?">Mobilutveckling — vad är bäst?</a>
                            </li>
                            <li>
                            <a href="http://blog.melindrea.net/nanowrimo/" title="NaNoWriMo">NaNoWriMo</a>
                            </li>
                            <li>
                            <a href="http://blog.melindrea.net/forenkla-agande-av-utvecklingssiter/" title="Förenkla ägande av utvecklingssiter">Förenkla ägande av utvecklingssiter</a>
                            </li>
                            <li>
                            <a href="http://blog.melindrea.net/internet-explorer-9-float-bug/" title="Internet Explorer &lt;span class=&quot;numbers&quot;&gt;9&lt;/span&gt; float bug">Internet Explorer <span class="numbers">9</span> float bug</a>
                            </li>
                        </ul>
                    </section>
        </div>
    </aside>
    </div>

