---
title: Articles
page: article
sidebar: true
class: content-first
bodyClass: single
articleClass: hentry
breadcrumbs:
    - index:
        url: /
        title: Home
    - articles:
        url: /articles.html
        title: Articles
---

<header>
  <h1 class="entry-title">But Will It Make You Happy?</h1>
  <div class="entry-summary">
      How you spend has a greater effect on your happiness than how
      much you spend, researchers say.
  </div>
</header>

<div class="entry-content">
  <img class="img-polaroid thumbnail" src="http://placehold.it/400x200/0eafff/ffffff.png">
    <p>...article text...</p>
    <p>...article text...</p>

</div> <!-- //.entry-content -->

<footer class="entry-footer">
    <div class="entry-meta">
      Posted <time class="published" datetime="2012-01-07 11:11:03-0400">
        01-07-2012
      </time>
      <p class="byline author vcard">
          By <span class="fn"><a rel="author" href="https://plus.google.com/107792424782860612529" class="url">Marie Hogebrandt</a></span>
      </p>
    </div>
</footer>
<hr>
<p>For the moment comments are not enabled, but feel free to <a href="http://www.twitter.com/?status=@melindrea82" rel="external">reach out on Twitter</a>.</p>
