---
title: Home
page: index
sidebar: true
class: content-first
---

<header>
    <h1>Role-Playing Characters</h1>
    <div class="subtitle">Developer, Role player, Idealist</div>
</header>
<div class="section">
<a href="" class="thumbnail featured-image"><img alt="" src="http://placehold.it/200x300/0eafff/ffffff.png" height="300" width="200" class="wp-post-image attachment-thumbnail"></a>
<p>I live in Sweden and work at <a href="http://www.pineberry.com" rel="external">Pineberry</a> in Stockholm as a developer (mainly PHP/WordPress, some Python) since 2012. </p>

<p>In my spare time I explore the new and cool things that pop up every so often, discard some fairly soon, though others stick with me. I am a bit of an inspiration butterfly, and jump from project to project aimlessly. I will write for a month or two, then do <a href="/gallery">digital art</a> for a month or two, pick up the redesign of my page for the umpteenth time, etc. Unfortunately these butterfly tendencies are paired with a certain amount of perfectionism, which is one of the reasons I lose interest: If I can't get something as awesome as I want it to be, I just stop.</p>
</div>
<hr>
<div class="section">
    <div class="column">
        <h2>Likes</h2>

        <ul>
        <li>Clean code</li>
        <li>Innovative solutions</li>
        <li>Humanist serif fonts</li>
        <li>Bad puns</li>
        <li>Automation</li>
        <li>Markdown for posts/pages</li>
        </ul>
    </div>
    <div class="column">
        <h2>Dislikes</h2>

        <ul>
        <li>Repeated tasks</li>
        <li>Hacks</li>
        <li>Realist sans-serif fonts</li>
        <li>Inline CSS and JavaScript (by hand <em>or</em> JavaScript)</li>
        <li>Hard-to-reproduce bugs</li>
        <li>What-you-see-is-kind-of-sort-of-what-you-get-in-the-worst-way-possible</li>
        </ul>
    </div>
</div>
