<header class="l-container site-header" role="banner">
    <ul class="header-contact">
        <li class="brand"><a href="/"><img src="images/logo.svg" alt="Marie Hogebrandt" class="site-title"></a></li>
        <li><a href="https://twitter.com/Melindrea82" title="Twitter"><i class="brandico-twitter-bird"></i></a></li>
        <li><a href="https://github.com/Melindrea" title="Github"><i class="fontawesome-github"></i></a></li>
        <li><a href="http://se.linkedin.com/in/mariehogebrandt" title="LinkedIn"><i class="brandico-linkedin"></i></a></li>
        <li><a href="http://melindrea82.deviantart.com/" title="DeviantArt"><i class="brandico-deviantart"></i></a></li>
        <li><a href="/contact.html" title="Contact"><i class="entypo-mail"></i></a></li>
    </ul>
    {{> main-nav}}
    {{#if breadcrumbs}}
    {{> breadcrumbs}}
    {{/if}}
</header>
