<!-- home -->
<h3>What&rsquo;s up?</h3>

<figure class="status">
    <blockquote><p>Here's a short update of status, generally max 140 characters!</p></blockquote>
    <figcaption>— <time datetime="datetime">2013-05-03 11:52</time></figcaption>
</figure>
<section class="widget widget-global-activity">
    <ul>
        <li>
            <article class="activity-item">
                <h4 class="activity-header entypo-link"><a href="#" >Link</a></h4>
                <div class="activity-description">Here's a description of the link!</div>
            </article>
        </li>
        <li>
            <article class="activity-item">
                <h4 class="activity-header entypo-post"><a href="">WP Post</a></h4>
                <div class="activity-description">Short of the post!</div>
            </article>
        </li>
        <li>
            <article class="activity-item">
                <h4 class="activity-header entypo-code"><a href="">Gist/Codepen</a></h4>
                <div class="activity-description">Here's a description of the code!</div>
            </article>
        </li>
        <li>
            <article class="activity-item">
                <h4 class="activity-header fontawesome-github"><a href="">Repository</a></h4>
                <div class="activity-description">Here's a description of the repository!</div>
            </article>
        </li>
    </ul>
</section>

<!-- article -->
<h3>Inspiration</h3>
<ul class="entry-navigation">
    <li class="previous-entry"><a href="">Title Previous Entry</a></li>
    <li class="next-entry"><a href="">Title of Next Entry</a></li>
    <li class="random-entry"><a href="/random/">Random Entry</a></li>
</ul>

<h3>Categories</h3>
<ul>
    <li class="cat-item cat-item-3"><a href="/kategori/allmanna-tankar/" title="Se alla inlägg sparade under Allmänna tankar">Allmänna tankar</a>
    </li>
    <li class="cat-item cat-item-29"><a href="/kategori/programmering/bugfix/" title="Se alla inlägg sparade under Bugfix">Bugfix</a>
    </li>
</ul>

<h3>Tags</h3>
<ul>
    <li class="cat-item cat-item-3"><a href="/kategori/allmanna-tankar/" title="Se alla inlägg sparade under Allmänna tankar">Allmänna tankar</a>
    </li>
    <li class="cat-item cat-item-29"><a href="/kategori/programmering/bugfix/" title="Se alla inlägg sparade under Bugfix">Bugfix</a>
    </li>
</ul>

<section id="recent-posts-2" class="widget widget_recent_entries">
    <h3 class="widget-title">Senaste inläggen</h3>
    <ul>
        <li>
        <a href="http://blog.melindrea.net/verktyg-for-att-halla-ett-oga-pa-teckensnittsstod/" title="Verktyg för att hålla ett öga på teckensnittsstöd">Verktyg för att hålla ett öga på teckensnittsstöd</a>
        </li>
        <li>
        <a href="http://blog.melindrea.net/mobilutveckling-vad-ar-bast/" title="Mobilutveckling — vad är bäst?">Mobilutveckling — vad är bäst?</a>
        </li>
        <li>
        <a href="http://blog.melindrea.net/nanowrimo/" title="NaNoWriMo">NaNoWriMo</a>
        </li>
        <li>
        <a href="http://blog.melindrea.net/forenkla-agande-av-utvecklingssiter/" title="Förenkla ägande av utvecklingssiter">Förenkla ägande av utvecklingssiter</a>
        </li>
        <li>
        <a href="http://blog.melindrea.net/internet-explorer-9-float-bug/" title="Internet Explorer &lt;span class=&quot;numbers&quot;&gt;9&lt;/span&gt; float bug">Internet Explorer <span class="numbers">9</span> float bug</a>
        </li>
    </ul>
</section>

<!-- articles -->
<section id="categories-3" class="widget widget_categories">
    <h3 class="widget-title">Kategorier</h3>
    <ul>
        <li class="cat-item cat-item-3"><a href="/kategori/allmanna-tankar/" title="Se alla inlägg sparade under Allmänna tankar">Allmänna tankar</a>
        </li>
        <li class="cat-item cat-item-29"><a href="/kategori/programmering/bugfix/" title="Se alla inlägg sparade under Bugfix">Bugfix</a>
        </li>
        <li class="cat-item cat-item-28"><a href="/kategori/design/css-trick/" title="Se alla inlägg sparade under CSS Trick">CSS Trick</a>
        </li>
        <li class="cat-item cat-item-27"><a href="/kategori/design/" title="Se alla inlägg sparade under Design">Design</a>
        </li>
        <li class="cat-item cat-item-38"><a href="/kategori/experiment/" title="Se alla inlägg sparade under Experiment">Experiment</a>
        </li>
        <li class="cat-item cat-item-16"><a href="/kategori/programmering/ide/" title="Se alla inlägg sparade under IDE">IDE</a>
        </li>
        <li class="cat-item cat-item-9"><a href="/kategori/jobbsokande/" title="Se alla inlägg sparade under Jobbsökande">Jobbsökande</a>
        </li>
        <li class="cat-item cat-item-8"><a href="/kategori/matplanering/" title="Se alla inlägg sparade under Matplanering">Matplanering</a>
        </li>
        <li class="cat-item cat-item-26"><a href="/kategori/programmering/" title="Se alla inlägg sparade under Programmering">Programmering</a>
        </li>
        <li class="cat-item cat-item-6"><a href="/kategori/projekt/" title="Se alla inlägg sparade under Projekt">Projekt</a>
        </li>
        <li class="cat-item cat-item-5"><a href="/kategori/matplanering/recept/" title="Se alla inlägg sparade under Recept">Recept</a>
        </li>
        <li class="cat-item cat-item-7"><a href="/kategori/talrants/" title="Se alla inlägg sparade under Tal/Rants">Tal/Rants</a>
        </li>
        <li class="cat-item cat-item-17"><a href="/kategori/wordpress/" title="Se alla inlägg sparade under WordPress">WordPress</a>
        </li>
    </ul>
</section>
<section id="tag_cloud-2" class="widget widget_tag_cloud">
    <h3 class="widget-title">Etiketter</h3>
    <div class="tagcloud">
        <a href='/tag/base64-encode/' class='tag-link-34' title='1 ämne' style='font-size: 8pt;'>base64 encode</a>
        <a href='/tag/bash/' class='tag-link-30' title='1 ämne' style='font-size: 8pt;'>bash</a>
        <a href='/tag/bug/' class='tag-link-21' title='1 ämne' style='font-size: 8pt;'>bug</a>
        <a href='/tag/centered-layout/' class='tag-link-25' title='1 ämne' style='font-size: 8pt;'>centered layout</a>
        <a href='/tag/css/' class='tag-link-23' title='1 ämne' style='font-size: 8pt;'>css</a>
        <a href='/tag/dconf-editor/' class='tag-link-32' title='1 ämne' style='font-size: 8pt;'>dconf-editor</a>
        <a href='/tag/float/' class='tag-link-24' title='1 ämne' style='font-size: 8pt;'>float</a>
        <a href='/tag/fonts/' class='tag-link-35' title='1 ämne' style='font-size: 8pt;'>fonts</a>
        <a href='/tag/gedit/' class='tag-link-31' title='2 ämnen' style='font-size: 22pt;'>Gedit</a>
        <a href='/tag/git/' class='tag-link-10' title='2 ämnen' style='font-size: 22pt;'>Git</a>
        <a href='/tag/grunt/' class='tag-link-12' title='1 ämne' style='font-size: 8pt;'>grunt</a>
        <a href='/tag/internet-explorer-9/' class='tag-link-22' title='1 ämne' style='font-size: 8pt;'>internet explorer 9</a>
        <a href='/tag/kodsnuttar/' class='tag-link-18' title='2 ämnen' style='font-size: 22pt;'>kodsnuttar</a>
        <a href='/tag/mobil/' class='tag-link-36' title='1 ämne' style='font-size: 8pt;'>mobil</a>
        <a href='/tag/node-js/' class='tag-link-11' title='1 ämne' style='font-size: 8pt;'>node js</a>
        <a href='/tag/npm/' class='tag-link-14' title='1 ämne' style='font-size: 8pt;'>npm</a>
        <a href='/tag/nvm/' class='tag-link-13' title='1 ämne' style='font-size: 8pt;'>nvm</a>
        <a href='/tag/plugins/' class='tag-link-33' title='1 ämne' style='font-size: 8pt;'>Plugins</a>
        <a href='/tag/prestanda/' class='tag-link-37' title='1 ämne' style='font-size: 8pt;'>prestanda</a>
        <a href='/tag/typography/' class='tag-link-19' title='1 ämne' style='font-size: 8pt;'>typography</a>
        <a href='/tag/uppdateringar/' class='tag-link-20' title='1 ämne' style='font-size: 8pt;'>uppdateringar</a>
    </div>
</section>
